<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">home</a>
        |
        <a href="/details-summary">
            note as disclosure
        </a>
        |
        <a href="/note-links">links to note pages</a>
    </nav>
    {{ content | safe }}
</body>
</html>